<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora GNSS MAGNA-ECO</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css">
</head>
<body>

    <div class="contenedor">
        <h1>Calculadora GNSS MAGNA-ECO</h1>

        <div class="panel">
            <input type="text" id="latitud" placeholder="Latitud">
            <input type="text" id="longitud" placeholder="Longitud">

            <div class="botones">
    <button onclick="usarUbicacion()">Usar mi ubicación</button>
    <button onclick="calcular()">Calcular</button>
</div>

<p class="ayuda-mapa">También puedes hacer clic directamente sobre el mapa para seleccionar el punto de consulta.</p>

<div id="resultado"></div>
        </div>

        <div id="map"></div>
    </div>

    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>